$background-color:#eee;
$text-color: #444;

body{
	background-color: $background-color;
	text-align: center;
	color: $text-color;
}

//scssもコンポーネント単位で分けることで、管理がしやすくなる
@import 'GeocodeResult';
@import 'Map';